.canvabanner-container {
  background-color: black;
  color: white;

}

.media-wrapper {
  position: relative;
}

.canvabannervideo,
.overlay-image {
  width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

#canvabanner_text>h2 {
  font-size: 40px;
  color: #0D99FF;
}

#canvabanner_text>h5 {
  padding: 35px 90px;
  font-size: 26px;

}

#canvabanner_text p {
  color: #FFCD29;
  font-size: 20px;
}

@media (min-width: 1200px) {
  .canvabanner-container {
    margin-left: -65px;
    z-index: 1;
    width: 510px;
  }

  #canvabanner_text p {
    word-spacing: 4px;
  }
}

@media (max-width: 592px) {
  .canvabanner-container {
    padding: 10px;
    width: 100%;
    margin: 0 auto;
  }

  #canvabanner_text>h2 {
    font-size: 32px;
    color: #0D99FF;
  }

  #canvabanner_text>h5 {
    padding: 18px 0;
    font-size: 20px;
  }

  #canvabanner_text p {
    font-size: 16px;
  }
}
