.WebDesignSection5bg {
    background-image: url('/images/webdesignprocess.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-size: 740px auto;
    background-position: center; 
  }