.digitalmarketingsection4textimg>p {
    font-size: 20px;
    padding-top: 100px;

}
.DigitalmarketingSectionimagetop{
    margin-top: -250px;
}
.Digitalmarketingsection4images>img{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 150px;

}
@media (max-width: 992px) {
    .Digitalmarketingsection4images>img{
     
        margin-bottom: 80px;
    }
        .DigitalMarketingS4Search >h2 {
            margin-top: 200px !important;
        }
    
}
@media (max-width: 768px) {
    .DigitalmarketingSectionimagetop{
        margin-top: 0px;
    }
    .Digitalmarketingsection4images>img{
        margin-bottom: 0px;
        margin-top: 20px;
        
    }
    .digitalmarketingsection4textimg>p {
        padding-top: 50px;
    }
    .DigitalMarketingS4Search >h2 {
        margin-top: 0px !important;
    }
   
    
}

@media (max-width: 576px) {
    .DigitalMarketingS4Search {
        margin-top: 70px;
    }
}
