.digitalmarketingsection4textimg>p {
    font-size: 20px;
    padding-top: 100px;

}
.DigitalmarketingSectionimagetop{
    margin-top: -250px;
}
.Digitalmarketingsection4images>img{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 80px;
}
.DigitalmarketingSectionimagetop{
    margin-top: 20px;
}
@media (max-width: 768px) {
    .Digitalmarketingsection4images>img{
        margin-bottom: 0px;
        margin-top: 20px;
        
    }
    .digitalmarketingsection4textimg>p {
        padding-top: 50px;
    }
    
}
@media (min-width: 576px) and (max-width: 768px) {
    .DigitalMarketingS4Search {
        margin-top: 70px;
    }
}
