.DigitalmarketingSection3text>h2{
    font-size: 65px;
    padding-top: 600px;
    text-align: center;
}
.DigitalmarketingSection3text>h3{
    font-size: 35px;
    color: white;
    padding-bottom: 100px;
    text-align: center;
}
.digitalmarketingSection3img >img{
    width: 100%;
    margin-top: -100px;
    margin-bottom: -270px;
 
}

.giditalmarketingsection3col>h3{
    background-color: #0E1B36;
padding:70px  50px;
font-size: 20px;
color: white;
}
.digitalmarketingsection3s2c1{
    margin-top: -500px;
    display: flex;
    align-items: end;
}
.digitalamrketingSection3dublicate{
    margin-top: 0px;
}
.digitalmarketingsection3sc1>h3{
    background-color: #0E1B36;
    padding:70px  50px;
    font-size: 20px;
    color: white;
}

@media (max-width: 992px) {
    .DigitalMarketingContainer{
        margin-bottom: -150px;
    }

    .digitalmarketingSection3img >img{
        width: 100%;
        margin-top: -70px;
        margin-bottom: -120px;
       
    }
    .digitalmarketingsection3sc1>h3 {
        padding: 30px  20px;
        font-size: 16px;
    }
    .giditalmarketingsection3col>h3 {
        padding: 30px  20px;
        font-size: 16px;
    }
    .DigitalmarketingSection3text>h2 {
        padding-top: 430px;
        
    }
    .DigitalmarketingSection3text>h3 {
        font-size: 24px;
        padding-bottom: 50px;
    }
    .digitalmarketingsection3s2c1 {
        margin-top: 0px;
    }
      
    
}


@media (max-width: 768px) {
    .DigitalMarketingContainer{
        margin-bottom: 0px;
    }
    .DigitalmarketingSection3text>h3 {
        color: black;
    }
   
    .DigitalmarketingSection3text>h2{
        font-size: 46px;
        padding-top: 0px;
    }
        .DigitalmarketingSection3text>h3{
            font-size: 28px;
            padding-bottom: 40px;
        }
    

    .digitalmarketingSection3img >img{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
       
    }
    .digitalmarketingsection3sc1>h3 {
        padding: 30px 20px;
        font-size: 20px;
        width: 100%;
    }
    .giditalmarketingsection3col>h3 {
        padding: 30px 20px;
        font-size: 20px; 
        width: 100%;
    }
    .DigitalmarketingSection3text {
        padding-top: 350px;
    }
 
    .digitalmarketingSection3img >img {
        margin-top: 30px;
    }
    .DigitalMArketingS5Search{
        margin-top: -50px;
    }
   
}
    @media (max-width: 576px) {

        .DigitalmarketingSection3text>h2 {
            padding-top: 70px;
        }
       
        .digitalmarketingsection3s2c1 {
            margin-top: 0px;
            margin-bottom: 0px;
        }
       
    }
