.webdevelopmentbgection4{
    margin-top: -450px;
}
.webDevelopmentSection4text{
    padding-top: 750px;
    
}
    .webDevelopmentSection4text >h2{
        font-size: 65px;
        font-weight: 700;
        text-align: center;
        padding:  0 50px;
    }
    .webDevelopmentSection4text >h3{
        font-size: 35px;
        color: white;
        text-align: center;
        padding-bottom: 100px;
        padding:  0 50px 50px 50px;
        
    }
    .webdevelopmentsection4textc1 >h3 , .webdevelopmentsection4textc2>h3{
background-color: #0E1B36;
padding: 50px;
font-size: 20px;
color: white;
    }
 .webdevelopmentsection4textc1 >h3 {
    margin: 0 150px 0 0px;
    }
    .webdevelopmentsection4textc2>h3{
        margin: 100px 0px 0 80px;  
    }
    .webdevelopmentSection4img >img{
        width: 100%;
        margin-top: -220px;
    }
    .WebdesignS4Mobile{
        margin-top: -150px;
    }

    @media (max-width: 992px) {
        .WebdesignS4Mobile{
            margin-top: 0px;
        }

        .webdevelopmentsection4textc1 >h3 , .webdevelopmentsection4textc2>h3{
            background-color: #0E1B36;
            padding: 30px;
            font-size: 16px;
            color: white;
                }
        .webdevelopmentsection4textc1 >h3 {
            margin: 0 100px 0 0px;
            }
            .webdevelopmentsection4textc2>h3{
                margin: 100px 0px 0 80px;  
            }
            .webdevelopmentSection4img >img{  
                margin-top: -150px;
            }
            .webDevelopmentSection4text >h2{
                padding:  0px;
            }
            .webDevelopmentSection4text {
                padding-top: 500px;
            }
            .webDevelopmentSection4text >h3{
             
               padding: 0px ;
                
            }
            .WebDevSectioncontainer4{
                padding-bottom: 300px;
            }
    }
    @media (max-width: 768px) {
        .WebdesignS4Mobile{
            margin-top: 300px;
        }
        .webdevelopmentsection4textc1 >h3 {
            margin: 0 0px 0 0px;
            }
            .webdevelopmentsection4textc2>h3{
                margin: 30px 0px 0 0px;  
            }
            .webdevelopmentSection4img >img{
               
                margin-top: 50px;
            }
            .webDevelopmentSection4text >h2{
                font-size: 40px;
                
            }
            .webDevelopmentSection4text >h3{
                font-size: 24px;
               padding: 0px 30px 20px 30px;
                
            }
            .webDevelopmentSection4text {
                padding-top: 500px;
            }
            .Webdesignsectioncontainer1st {
                padding-bottom: 0px;
            }
            .WebDevSectioncontainer4{
                padding-bottom: 30px;
            }
            
        }
            @media (max-width: 576px) {
                .webDevelopmentSection4text {
                    padding-top: 350px;
                }
                    .WebdesignS4Mobile{
                        margin-top: 60px;
                    }
                
    }