header {
    height: 106px;
}

.navbar {
    background: linear-gradient(45deg, #010631, #163182, #010631);
    padding: 16px 0 !important;
    width: 100%;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease;
}

.navbar.sticky {
    background: linear-gradient(45deg, #010631, #163182, #010631);
    padding: 6px 0 !important;
    height: 70px;
}

.navbar.sticky .logo img {
    height: 50px;
}


/*Side bar.css */
.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    bottom: 0;
    width: 100%;
    background-image: url(../../../../public/Assets/Images/Background/menu-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: right 0.5s ease;
    z-index: 1000;
    padding: 16px;
}

.scroll-container {
    max-height: 95vh;
    /* Adjust as needed for your layout */
    overflow-y: auto;
    /* Enable vertical scrolling */
    padding-right: 1rem;
    /* Optional: Add padding to avoid scrollbar overlap */
}

.sidebar.open {
    right: 0;
}


.menu-label {
    font-size: 26px !important;
    font-weight: 300;
    color: white;
    font-family: "League Spartan", sans-serif !important;
    padding: 18px 0;
}

.nav-link {
    font-style: normal;
    color: rgb(255, 255, 255) !important;
    font-size: 30px !important;
    line-height: 22px !important;
    padding: 10px 0 !important;
    text-decoration: none !important;
    font-weight: 700;
}
.nav-link:hover {
    color: #F9CE08 !important;
}
@media (max-width: 575.98px) {
    .scroll-container {
        padding-right: 0;
    }

    header {
        height: 80px;
    }

    .logo img {
        width: 136px;
        height: auto;
    }

    .navbar {
        padding: 8px 0;
    }

    .sidebar {
        background: #5584FF;
        padding: 12px;
    }

    .menu-label {
        font-size: 24px !important;
        font-weight: 300;
        color: white;
        font-family: "League Spartan", sans-serif !important;
        padding: 18px 0;
    }

    .nav-link {
        font-size: 18px !important;
        padding: 8px !important;
        text-decoration: none !important;
        font-weight: 700;
    }
}

/* Medium devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 867.98px) {
    .sidebar {
        background: #5584FF;
    }
}