@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=League+Spartan:wght@100..900&display=swap');

body {
    font-family: "League Spartan", sans-serif !important;
    background-image: url(../public/Assets/Images/Background/lines.png);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none !important;
}


.fathena-btn {
    background: #5584FF !important;
    height: 58px;
    padding: 0 45px !important;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    border-radius: 30px !important;
}
.BrandSPaceHomePage{
    padding: 60px 0;
  }

.section-title {
    font-size: 45px;
    color: #0e1b36;
    font-weight: 700;
    text-align: center;
}

.section-text {
    font-size: 18px;
    line-height: 24px;
    color: #b7c0d5;
    text-align: center;
    
  padding: 0 15%;
}

.section-text2 {
    color: #444;
    font-size: 18px;
    line-height: 24px;

}
.text-larger {
    font-size: 65px;
}
ul li {
    list-style: none;

}

@media (max-width: 575.98px) {   
.text-larger {
    font-size: 34px;
}
.section-text {
    padding: 0;
  }
  .BrandSPaceHomePage{
    padding: 30px 0;
  }
}

/* Medium devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {   
.text-larger {
    font-size: 52px;
}
   
}


/* Large devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Extra large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}