.card-trading {
    width: 450px;
}

.card-trading img {
    height: 340px;
    width: 396px;
    margin-bottom: 50px;
}

@media (max-width: 575.98px) {
    .card-trading img {
        height: auto;
        width: 80%;
        margin:0 auto;
        text-align: center;
        padding-bottom: 20px;
    }

    .card-trading {
        width: 100%;
    }

}