
.AboutUsImg {
  position: relative;

  height: 600px;
  /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s ease;
  width: 100%;
  background-image: url('/images/aboutbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.AboutUsImg2 {
  position: relative;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s ease;
  width: 100%;
  background-image: url('/images/team.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.AboutUsImg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 33, 100, 0.3);
  z-index: 1;
}

.AboutUs1stBanner{
  padding: 0 60px;
}
/* .AboutUsImg2::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 33, 100, 0.2);
  z-index: 1;
} */
.AboutUsSecttion4Content>h1{
  color: #222222;
  font-weight: bold;
  font-family: 'Bookish', Times, serif;
  font-size: 40px;
}
.AboutUsSecttion4Content>h3{
  color: #2ba6ff;
  font-size: 28px;
  font-weight: bold;
}
.AboutUsSecttion4Content>p {
  color: #979797;

  font-size: 22px;
  padding-right: 50px;
}

.aboutus3rdcontent {
  width: 100% !important;
  padding-right: 50px;
  display: flex;
flex-direction: column;
justify-content: center !important;

}

.aboutus3rdcontent>h1 {
  color: white;
  font-size: 56px !important;
}

.aboutus3rdcontent>h5 {
  font-size: 24px;
  color: white;
}

.aboutus23rdcontentAfter>p,
.aboutus23rdcontentAfter>h5 {
  color: white;
  /* z-index: 1; */
}
.aboutus23rdcontentAfter>h5 {
  font-size: 24px;
}
.aboutus23rdcontentAfter>p {
  font-size: 20px;
  line-height: 22px;
  padding-left: 10px;
}


.ReadMorebtn {
  background-color: none;
  cursor: pointer;
  font-size: 24px !important;
}

.AboutUs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;

  background-size: cover;
  background-position: center;
  z-index: -1;
}

.aboutus1stcontent {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.aboutus1stcontent>h1 {
  font-size: 56px;
  color: white;
  font-weight: 700;
}

.aboutus1stcontent>p {
  font-size: 34px;
  color: white;
}

.aboutus1stcontentAfter {
  padding: 50px 22px;
  z-index: 11;
  transition: opacity 0.3s ease;
}

.aboutus1stcontentAfter>p {
  color: white;
  font-size: 22px;

}
.AboutUsC2Img{
  padding-left: 2%;
}
.AboutUsC2Img2{
padding-left: 3%;
}

.aboutus2ndcont {
  padding:100px 0;
}
.Section4AboutUs{
  margin: 150px;
}
.aboutus2ndcontent>p {
  color: #979797;
}

.aboutus2ndcontent>h1 {
  font-size: 30px;
  font-weight: 400;
}

.ReadCeobtn {
 
  background-color: none;
  cursor: pointer;
  color: #2ba6ff;
  font-weight: normal;

}

.aboutus2ndcontentAfter>p {
  color: #979797;
font-size: 20px;
line-height: 22px;
}
.aboutus2ndcontentAfter>h1 {
  font-family: "Times New Roman", Times, serif;
}

.AboutusEnvironmentSection>h1 {
  margin-top: 80px;
  color: #4dcd81;
  text-align: center;
  font-weight: 600;
}

.AboutusEnvironmentSection>p {

  text-align: center;
  padding: 0 25%;
}

.carousel-item img {
  width: 300px;
  height: auto;
  margin: 0 auto;
}

.aboutus23rdcontentAfter,
.aboutus3rdcontent {
  z-index: 1;
}

.carousel-indicators button {
  width: 120px !important;
}

.carousel-indicators .active {
  background-color: #E75451 !important;
}

.AboutUsLAstSectionText {
  text-align: center;
  margin-top: 150px;
}

.AboutUsLAstSectionText>h1 {
  font-size: 48px;
  font-weight: bold;
  color: #222222;
  font-family: "Times New Roman", Times, serif;
}

.AboutUsLAstSectionText>p {
  font-size: 28px;
  font-weight: 500;
  color: #2ba6ff;
}
.about4Img{
  width: 80%;
}
.SectionTitleLastAbout4{
padding-left: 20px;
}
.AboutSectionListp>li{
  font-size: 20px;
  line-height: 22px;
}

@media (max-width: 1300px) {
  .AboutUs1stBanner{
    padding: 0 20px;
  }
  
.aboutus1stcontentAfter>p {
  color: white;
  font-size: 24px;

}
}

@media (max-width: 992px) {
  .AboutUsImg {
    height: 330px;

  }

  .AboutUsImg2 {
    height: 330px;

  }

}

@media (max-width: 768px) {
.AboutUsSecttion4Content{
  padding-top: 50px;
}
.AboutUsLAstSectionText {
  margin-top: 100px;
}
.Section4AboutUs{
  margin: 100px 0;
}
.AboutSectionListp>li{
  font-size: 18px;
  line-height: 20px;
}

.about4Img{
  width: 100%;
}
  .aboutus2ndcontentAfter,
  .aboutus23rdcontentAfter {
    padding-top: 20px;
  }

  .carousel-item img {
    width: 200px;
  }
  .AboutUsImg, .AboutUsImg2  {
    height: 100%;
  }
  .aboutus1stcontent>h1 {
    font-size: 46px;
  }
  .aboutus3rdcontent>h1 {
    font-size: 46px !important;
  }
 
.aboutus1stcontent>p {
  font-size: 24px;
}
.aboutus1stcontent {
padding: 20px 0;
}
.aboutus2ndcont {
  padding: 50px 0;
}
.AboutUsSecttion4Content>p {

  padding-right: 0px;
}
.aboutus3rdcontent {
  padding-right: 0px;
}
}





