.AboutUsImg {
  position: relative;
  height: 420px;
  /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s ease;
  width: 100%;
  background-image: url('/images/aboutbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.AboutUsImg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.ReadMorebtn {
  background-color: none;
  cursor: pointer;
  color: white;
}

.AboutUs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;

  background-size: cover;
  background-position: center;
  z-index: -1;
}

.aboutus1stcontent {
  z-index: 1;
}

.aboutus1stcontent>h1 {
  font-size: 30px;
  color: white;
  font-weight: 400;
}

.aboutus1stcontent>p {
  font-size: 16px;
  color: white;
}

.aboutus1stcontentAfter {
  padding: 20px;
  transition: opacity 0.3s ease;
}

.aboutus2ndcont {
  padding: 70px 0;
}

.aboutus2ndcontent>h1 {
  font-size: 30px;
  font-weight: 400;
}

.ReadCeobtn {
  background-color: none;
  cursor: pointer;
  color: #5584ff;

}

.AboutusEnvironmentSection>h1 {
  margin-top: 80px;
  color: #4dcd81;
  text-align: center;
  font-weight: 600;
}

.AboutusEnvironmentSection>p {

  text-align: center;
  padding: 0 25%;
}

.carousel-item img {
  width: 350px;
  height: auto;
  margin: 0 auto;
}

.carousel-indicators button {
  width: 120px !important;
}

.carousel-indicators .active {
  background-color: #E75451 !important;
}

@media (max-width: 992px) {
  .AboutUsImg {
    height: 330px;

  }

}

@media (max-width: 768px) {
  .aboutus2ndcontentAfter {
    padding-top: 20px;
  }
}